/* html,
body {
    background-color: #EBDE70;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.header {
    text-align: center;
}

.text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
} */