h2    {
    margin-top: 1rem; /* Add the desired top margin */
    margin-left: 45rem; /* Add the desired left margin */
    font-size: 3rem; /* Add the desired font size */
    color: black; /* Add the desired text color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Add any additional styles as needed */
  }

 